.base {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#aaaaaa));
	background: -moz-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
	border: 1px solid #999;
	box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}

.inner {
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;
	border-radius: 500px;
	border: 1px solid #999;
	background-color: #f5f5f5;
	box-shadow: 1px 2px 2px rgba(0,0,0,.2) inset;
}

/*.clock {
	position: relative;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background: #f8f8f8;
	background: -moz-linear-gradient(top,#ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(47%,#f6f6f6),color-stop(100%,#ededed));
	background: -o-linear-gradient(top,#ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,#ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,#ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
	border: 1px solid #ddd;
	box-shadow: 0 2px 0 rgba(0,0,0,.3);
}*/

.inner > div {
	position: absolute;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	transform-origin: bottom center;
	/*-webkit-transition: -webkit-transform .05s ease-in;
	-moz-transition: -moz-transform .05s ease-in;
	transition: transform .05s ease-in;*/
	box-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.inner .hour {
	z-index: 200;
	top: 28px;
	left: 62px;
	width: 4px;
	height: 36px;
	background: black;
}

.inner .minute {
	z-index: 201;
	top: 14px;
	left: 63px;
	width: 2px;
	height: 50px;
	background: black;
}

.inner .second {
	z-index: 202;
	top: 4px;
	left: 63px;
	width: 1px;
	height: 60px;
	background: #e00;
}

.clock .center {
	z-index: 203;
	top: 61px;
	left: 61px;
	width: 6px;
	height: 6px;
	background: #e00;
	border-radius: 3px;
}

.ticks div {
	position: absolute;
	top: 4%;
	left: 50%;
	width: 2px;
	margin-left: -1px;
	height: 8%;
	background-color: #999;
	-webkit-transform-origin: 50% 600%;
	-moz-transform-origin: 50% 590%;
}
.ticks div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.ticks div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
}
.ticks div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.ticks div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
}
.ticks div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
}
.ticks div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
.ticks div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
}
.ticks div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
}
.ticks div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
}
.ticks div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	-moz-transform: rotate(300deg);
}
.ticks div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
}
